body{
    background-color: white;
    text-align: center;
    margin: auto;
   display: flex;
   display: block;
}
#lg1{
    display: flex;
    display: inline-block;
border: 1px solid black;
border-radius: 15px;
margin: auto;
margin-right: 50%;
margin-top: 7%;
margin-bottom: 10%;
background-color: rgb(148, 148, 148);
}
#lg2{
    display: flex;
 display: inline-block;
border: 1px solid black;
border-radius: 15px;
background-color: rgb(104, 104, 104);
padding-left: 5%;
padding-right: 5%;
padding-top: 5%;
padding-bottom: 5%;

}
h1{
    font-size: large;
}
a{
color: black;
}
.btn{
background-color: rgb(185, 184, 184);
border: 1px solid black;
border-radius: 15px;
margin-bottom: 5%;
}

