body{
    background-image: url(../assets/images/apple-m3-macbook-pro-default-modified-11-10-2024-1728714492-hd-wallpaper\ \(21\).jpg);
}
#lg{
    margin: auto;
    font-size: x-large;
    font-weight: bold;
    font-style: normal;
   padding-left: 90%;
   
}
.links{
    font-size: large;
    background-color: rgba(0, 0, 0, 0.26);
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    margin-left: 13%;
    margin-right: 13%;
}
.lg1{
    color: rgb(255, 255, 255);
}
a{
    margin: 25px;
    color: rgba(255, 255, 255, 0.452);
}