body{
    background-color: white;
    text-align: center;
    margin: auto;
   
}
#lg1{
border: 1px solid black;
border-radius: 15px;
margin:auto;
margin-top: 10%;
margin-left: 33%;
margin-bottom: 10%;
width: 35%;
background-color: rgb(148, 148, 148);
}
#lg2{
border: 1px solid black;
border-radius: 15px;
background-color: rgb(104, 104, 104);
margin-left:13%;
margin-right: 13%;
padding-top: 5%;
padding-bottom: 5%;
}
a{
color: black;
}
.btn{
background-color: rgb(185, 184, 184);
border: 1px solid black;
border-radius: 15px;
margin-bottom: 5%;
}