
#lg{
    margin: auto;
    font-size: x-large;
    font-weight: bold;
    font-style: normal;
   padding-left: 90%;
}
.links{
    font-size: large;
}
.lg1{
    color: rgb(168, 108, 108);
}
a{
    color: black;
}